<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>v-coding</title>
  <!-- <link rel="stylesheet" type="text/css" href="font-awesome.min.css">   -->
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="/libs/zepto.min.js"></script>
  <script type="text/javascript" src="/libs/vue.min.js"></script>
  <script type="text/javascript" src="/libs/vue-resource.min.js"></script>
  <script type="text/javascript" src="/libs/ls.js"></script>
  <script type="text/javascript" src="/libs/api.js"></script>
  <script type="text/javascript" src="popup.js"></script>
</head>

<body>
  <div id="app" class="container">
    <projects inline-template v-if="publicState.currentView === 'projects'">
      <section id="projects" class="tab-page">
        <div class="navbar">
          <input class="search-projects" autofocus="autofocus" v-model="name">
          <div class="navbar-buttons">
            <div class="toolbar-item refresh-projects" id="refresh-projects" v-on:click="loadProjects">
              <img src="/images/sync.svg">
            </div>
            <div class="toolbar-item remove-activity-update-count" id=" " v-on:click="removeActivityCount" title="清除提醒">
              <img src="/images/trashcan.svg">
            </div>
          </div>
          <div class="username" v-if="user.name"><a tabindex="-1" href="{{baseUrl + '/user'}}" title="个人中心" target="blank">{{user.name}}</a></div>
        </div>
        <div id="project-list">
          <div class="project" v-for="project in projects | filterBy name in 'name'">
            <div class="main-link">
              <i class="icon"><img v-if="project.isPrivate" src="/images/lock.svg"></i>
              <a class="" href="{{baseUrl + project.path}}" target="_blank" @click="updateBadgeCount">{{project.name}}</a>
              <span class="activity-update-count update-count-tip" v-if="project.activityUpdateCount">{{project.activityUpdateCount}}</span>
            </div>
            <a class="project-link" title="代码" href="{{baseUrl + project.path  + '/git'}}" target="_blank"><img src="/images/code.svg"></a>
            <a class="project-link" title="提交历史" href="{{baseUrl + project.path  + '/git/commits/'}}{{project.default_branch}}" target="_blank"><img src="/images/history.svg"></a>
            <a class="project-link" title="项目任务" v-if="project.isPrivate" href="" @click="openTodo(project.id, project.name, project.path)"><img src="images/tasklist.svg"></a>
            <!--             <a class="project-link" title="项目任务"  href="{{baseUrl + project.path  + '/tasks'}}" target="_blank"><img src="images/tasklist.svg"></a> -->
            <a class="project-link" title="合并请求" href="{{baseUrl + project.path  + '/git/merges/review'}}" target="_blank"><img src="images/git-pull-request.svg"></a>
          </div>
          <div v-show="loading" class="progress-spinner"></div>
        </div>
      </section>
    </projects>
    <task inline-template v-if="publicState.currentView === 'task'">
      <section class="todoapp tab-page" >
        <div class="navbar">
          <div class="left" @click="goBack" tabindex="0" v-on:keyup.enter="goBack">
            <i class="icon icon-back"></i>
            <span>返回</span>
          </div>
          <div class="center">{{publicState.lastProject.name}}</div>
          <div class="right">
            <a class="project-link" title="前往coding" href="{{baseUrl + publicState.lastProject.path  + '/tasks'}}" target="_blank"><img src="images/tasklist.svg"></a>
          </div>
        </div>
        <header class="header">
          <input class="new-todo" autofocus autocomplete="off" placeholder="回车添加任务" v-model="newTodo" @keyup.enter="addTodo">
        </header>
        <section class="main">
          <!-- <input class="toggle-all" type="checkbox"> -->
          <ul class="todo-list" v-if="!loading">
            <li class="todo" v-for="(index, todo) in filterTodos()">
              <div class="view">
                <input type="checkbox" v-model="todo.status" @click="toggleTodo(index)">
                <input type="text" class="content" @blur="updateTodo(index, $event)" @keyup.enter="updateTodo(index, $event)" value="{{ todo.title }}">
                <a class="detail" href="{{baseUrl + todo.project.path  + '/task/' + todo.id}}" title="任务详情" target="blank">></a>
                <div class="destroy" @click="deleteTodo(todo.id)"></div>
              </div>
              <input class="edit" type="text">
            </li>
            <div class="tip" v-if="todosCount === 0">暂无进行中任务</div>
          </ul>
          <div v-show="loading" class="progress-spinner"></div>
        </section>
        <footer class="footer">
          <span class="todo-count">
            共 <strong>{{ todosCount }}</strong> 项
          </span>
          <ul class="filters">
            <li><a @click="showProcessingTodos" v-bind:class="{ 'active': visibility === 'processing' }">进行中</a></li>
            <li><a @click="showDoneTodos" v-bind:class="{ 'active': visibility === 'done' }">已完成</a></li>
            <li><a @click="showAllTodos" v-bind:class="{ 'active': visibility === 'all' }">全部</a></li>
          </ul>
        </footer>
      </section>
    </task>
  </div>
</body>
</body>

</html>
