img.avatar32 {
  width: 32px;
  height: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  border-radius: 32px;
}

a {
  text-decoration: none;
  color: #4db0f4;
}

i.fa.green {
  color: #59d597;
}

i.fa.red {
  color: #e6336e;
}

i.fa.ice-blue {
  color: #54C4D8;
}

i.fa.clickable {
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 5px 10px;
  line-height: 30px;
  color: #fff;
  background: #4db0f4;
  text-decoration: none;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3a99db;
}

.button.green {
  background: #59d597;
}

.button.green:hover {
  background: #2bbb73;
}

.button.red {
  background: #e6336e;
}

input,
textarea {
  outline: none;
}

.update-count-tip {
  position: absolute;
  padding: 2px;
  width: auto;
  min-width: 12px;
  height: 12px;
  line-height: 12px;
  background: #f75288;
  border-radius: 12px;
  color: #FFF;
  font-size: 10px;
  font-style: normal;
  border: 2px solid #FFF;
  text-align: center;
}


/* dialog */

.dialog {
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  background: #FFF;
  border: 1px solid #EEE;
  margin: -75px 0 0 -30%;
  box-sizing: border-box;
  padding: 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
}

.dialog .fa.close {
  position: absolute;
  right: 3px;
  top: 0;
  color: #e6336e;
}


/* loading */

i.fa.loading {
  -webkit-animation: icon-loading 1s linear infinite;
  -moz-animation: icon-loading 1s linear infinite;
  -ms-animation: icon-loading 1s linear infinite;
  animation: icon-loading 1s linear infinite;
}

@keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-moz-keyframes icon-loading {
  from {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-webkit-keyframes icon-loading {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-ms-keyframes icon-loading {
  from {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

html,
body {
  padding: 0;
  margin: 0;
  width: 320px;
  height: 425px;
  font-family: 'Microsoft Yahei', 'Helvetica Neue', sans-serif, SimHei;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

body.dimmer:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, .2);
  z-index: 98;
}

#header {
  font-size: 16px;
  color: #000;
  height: 40px;
  line-height: 40px;
  position: relative;
  background: #FFF;
  padding: 0 10px;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  display: none;
}

#header .welcome {
  float: right;
  height: 100%;
  position: relative;
  font-size: 14px;
  font-weight: normal;
}

#header .welcome > a {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  margin-top: 4px;
}

.tab-page {
  height: 420px;
}


/* footer and tabs */

#footer {
  height: 40px;
  box-shadow: 0 -2px 3px rgba(0, 0, 0, 0.2);
}

#footer .tabs-nav {
  height: 40px;
  font-size: 16px;
  position: relative;
}

#footer .tabs-nav .tab-item {
  display: inline-block;
  width: 33.3%;
  height: 100%;
  vertical-align: top;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

#footer .tabs-nav .tab-item.active {
  border-bottom: 2px solid #4db0f4 !important;
}

#footer .tabs-nav .tab-item:hover {
  border-bottom: 2px solid #EEE;
}

#projects .project {
  height: 20px;
  padding: 5px 10px;
  line-height: 20px;
  border-bottom: 1px solid #EEE;
  position: relative;
}

#projects .project:first-child {
  border-top: 1px solid #EEE;
}

#projects .navbar {
  border-bottom: 1px solid #F5EEEE;
}

#projects .project.open {
  height: 64px;
  background: #FFF !important;
}


/*#projects .project:hover {
    background-color: #EEE;
}*/

#projects .project a.avatar {
  display: inline-block;
  width: 180px;
  border-right: 1px solid #E8E7E7;
  /*border-radius: 5px;*/
  /*padding: 2px 6px;*/
}

#projects .project a:hover {
  color: #003975;
}


/* project toolbar */

#projects .project .toolbar {
  display: none;
}

#projects .project.open .toolbar {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px dotted #EEE;
  padding: 0 16px;
  background-color: #555B63;
  width: 210px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #9FA9B5;
  float: right;
  height: 35px;
  margin-top: 10px;
}

#projects .project .toolbar .toolbar-item {
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 2px 5px 0 0;
  cursor: pointer;
  display: inline-block;
}

#projects .project .toolbar .toolbar-item.round {
  border-radius: 24px;
  border: 1px solid #EEE;
}


/*#projects .project .toolbar .toolbar-item:hover {
    background: #EEE;
}*/


/* project icon */

#projects .project:hover .icon {
  display: inline;
}

#projects .project .icon {
  display: none;
  float: right;
}

#projects .project .icon i.fa-angle-double-down {
  display: inline;
}

#projects .project .icon i.fa-angle-double-up {
  display: none;
}

#projects .project .icon.open i.fa-angle-double-down {
  display: none;
}

#projects .project .icon.open i.fa-angle-double-up {
  display: inline;
}


/* un login */

#projects .un-login-message {
  font-size: 16px;
  text-align: center;
  margin: 150px 0;
}

#projects .un-login-message .login.button {
  margin: 10px auto;
}


/* delete paas dialog */

#delete-paas-dialog {
  width: 60%;
  height: 150px;
}

#delete-paas-dialog p {
  margin: 2px 0;
  line-height: 18px;
}

#delete-paas-dialog input {
  width: 100%;
  height: 22px;
  border: 1px solid #CCC;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 13px 10px;
  text-align: center;
}

#delete-paas-dialog .delete-button {
  text-align: center;
}

#delete-paas-dialog .button {
  padding: 2px 5px;
  line-height: 26px;
  font-size: 14px;
}

#delete-paas-dialog .password {
  position: relative;
  margin: 10px 0;
}

#delete-paas-dialog .error {
  display: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: absolute;
  background: rgba(255, 80, 80, 0.87);
  color: #FFFFFF;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-align: center;
}

#delete-paas-dialog .deleting-error .error {
  display: block;
  top: -30px;
}

.activity-update-count {
  left: 170px;
  /*top: -5px;*/
  transform: scale(0.8);
}


/* paas db dialog */

.paas-db-dialog {
  width: 60%;
  height: 150px;
}

.paas-db-dialog .services {
  height: 80px;
  overflow: auto;
}

.paas-db-dialog .services a.item {
  margin: 0 10px 10px 0;
  display: inline-block;
}

.paas-db-dialog .services a.item i.fa {
  margin-right: 3px;
}


/* project quick toolbar */

#projects .navbar {
  position: relative;
}

#projects .navbar .toolbar-item {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  border: 1px solid #EEE;
  cursor: pointer;
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-right: 6px;
}

#projects .navbar .toolbar-item.loading {
  font-size: 20px;
}


/*#projects .navbar .toolbar-item:hover{
    background: #EEE;
}
*/

#projects .navbar .toolbar-item.remove-activity-update-count {
  font-size: 20px;
  color: #9B9B9B;
}

#projects .navbar .toolbar-item.remove-activity-update-count .update-count-tip {
  top: 0;
  right: -10px;
}

#projects .navbar .toolbar-item.refresh-projects {
  font-size: 18px;
}

#projects .name {
  line-height: 100%;
  display: inline-block;
  height: 20px;
  position: absolute;
  font-size: 14px;
  font-weight: 700;
  top: 7px;
  left: 28px;
}

#projects #project-list {
  height: 380px;
  padding-bottom: 5px;
  padding-top: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

a {
  color: #4078c0;
}

.fa-play-circle {
  font-size: 18px;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: #AAAAAB;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

body {
  scrollbar-face-color: #AAAAAB;
  scrollbar-track-color: #F1F1F1;
}

.points-left a {
  color: green;
}

.search-projects {
  margin-left: 20px;
  font-size: 16px;
  height: 18px;
  width: 150px;
}

.username {
  display: inline-block;
  display: inline-block;
  width: 50px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}

.project-link {
  font-size: 16px;
  padding: 2px;
  color: #6D6D6D;
}

// tasklist
button,
input[type="checkbox"] {
  outline: none;
}

.hidden {
  display: none;
}

.todoapp {
  background: #fff;
  position: relative;
}

.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp h1 {
  position: absolute;
  top: -155px;
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
}

.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 18px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.new-todo {
  padding: 6px 6px 6px 40px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.main {
  position: relative;
  z-index: 2;
  border-top: 1px solid #e6e6e6;
  height: 270px;
  overflow-y: scroll;
  overflow-x: hidden;
}

label[for='toggle-all'] {
  display: none;
}

.toggle-all {
  position: absolute;
  top: -55px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none;
  /* Mobile Safari */
}

.toggle-all:before {
  content: '❯';
  font-size: 22px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

.toggle-all:checked:before {
  color: #737373;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todo-list li {
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid #ededed;
  height: 32px;
  line-height: 32px;
}

.todo-list li:last-child {
  // border-bottom: none;
}

.todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

.todo-list li.editing .view {
  display: none;
}

.todo-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none;
  /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.todo-list li .toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list li .toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.todo-list li label {
  white-space: pre;
  word-break: break-word;
  display: inline-block;
  line-height: 1.2;
  transition: color 0.4s;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 80%;
}

.todo-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto 0;
  font-size: 20px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  line-height: 20px;
  background: #fff;
}

.todo-list li .destroy:hover {
  color: red;
}

.todo-list li .destroy:after {
  content: '×';
  border: 1px solid #c1c2c3;
  border-radius: 3px;
}

.todo-list li:hover .destroy {
  display: block;
}

.todo-list li .edit {
  display: none;
}

.todo-list li.editing:last-child {
  margin-bottom: -1px;
}

.footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
}

.todo-count {
  float: left;
  text-align: left;
}

.todo-count strong {
  font-weight: 300;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}

.filters>li {
  display: inline;
  padding: 3px 0;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a.selected,
.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed,
html .clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.clear-completed:hover {
  text-decoration: underline;
}

.info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}


/*
    Hack to remove background from Mobile Safari.
    Can't use it globally since it destroys checkboxes in Firefox
*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }
  .todo-list li .toggle {
    height: 40px;
  }
  .toggle-all {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
  }
}

@media (max-width: 430px) {
  .footer {
    height: 50px;
  }
  .filters {
    bottom: 10px;
  }
}

// 任务
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #f9f9f9;
  min-width: 150px;
  border: 1px solid #b5b6b5;
  overflow: scroll;
  text-align: left;
  max-height: 380px;
  list-style: none;
  padding: 10px 0;
  font-size: 14px;
}

.dropdown-item {
  line-height: 24px;
  height: 24px;
  text-indent: 1em;
}

.dropdown-item:hover {
  cursor: pointer;
  background-color: #4db0f4;
  color: #fff;
}

.dropdown:hover .dropdown-content {
  opacity: 1;
  z-index: 100;
  transition: opacity .3s
}

.filters .active {
  background-color: #4db0f4;
  color: #fff;
}

.placeholder {
  text-align: center;
}

.preloader {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-animation: preloader-spin 1s steps(12, end) infinite;
  animation: preloader-spin 1s steps(12, end) infinite;
}

.main .preloader {
  position: absolute;
  left: 45%;
  top: 30%;
}

.navbar,
#footer {
  background: #f7f7f8;
}

.navbar {
  height: 44px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: #c4c4c4;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}

i.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  font-style: normal;
  position: relative;
}

i.icon.icon-back {
  width: 12px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
}

.navbar .center {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 44px;
  flex-shrink: 10;
  padding: 0 10px;
}

.navbar .left,
.navbar .right {
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: translate3d(0, 0, 0);
}

.navbar .right {
  width: 53px;
}

.navbar, .toolbar {
  height: 44px;
  width: 100%;
  box-sizing: border-box;
  font-size: 17px;
  position: relative;
  margin: 0;
  z-index: 500;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navbar span {
  margin-left: 7px
}

.todo-list h3 {
  text-align: center;
  margin-top: 30%;
}

.todo-list a.detail {
  float: right;
  padding-right: 5px;
}